{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/paging.css" %}"  rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/paging.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse" style="background-color:#428bca;border-color:#428bca;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#FFF;" href="#">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp;BI监控 dashboard
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <div class="container" style="position:absolute; top:60px; left:90px;">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
              {% block right_list %}
              {% endblock %}
            {# 右侧导航 #}
          </div>
        </div>
        <div class="col-xs-12 col-sm-9" id="leftCol">
            <div class="container">左侧默认</div>
        </div>
      </div>
    <br/>
    <br/>
      <div class="bottomCol">
        {# 下侧分页器 #}
      </div>
    </div>
</body>
</html>
