<div class="tab-pane fade in active" id="home">
    {% include "date_choicer.html" with minView="1" format="'yyyy-mm-dd hh'" %}
    <div class="table-responsive">
        <table class="table">
            <caption>响应式表格布局</caption>
            <thead>
            <tr>

                <th>杜亚博</th>
                <th>杜亚博</th>
                <th>杜亚博</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>杜亚博</td>
                <td>杜亚博</td>
                <td>杜亚博</td></tr>
            <tr>
                <td>产品2</td>
                <td>10/11/2013</td>
                <td>发货中</td></tr>
            <tr>
                <td>产品3</td>
                <td>20/10/2013</td>
                <td>待确认</td></tr>
            <tr>
                <td>产品4</td>
                <td>20/10/2013</td>
                <td>已退货</td></tr>
            </tbody>
        </table>
    </div>
</div>
