<div class="tab-pane fade in active" id="active_page">
    <div class="table-responsive">
        <table class="table">
            <caption>默认打开的首页活跃页面</caption>
            <thead>
            <tr>
                <th>WWWW大阿福</th>
                <th>WWWW</th>
                <th>WWWW</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>WWWW</td>
                <td>WWWW</td>
                <td>WWWW</td></tr>
            <tr>
                <td>产品2</td>
                <td>10/11/2013</td>
                <td>发货中</td></tr>
            <tr>
                <td>产品3</td>
                <td>20/10/2013</td>
                <td>待确认</td></tr>
            <tr>
                <td>产品4</td>
                <td>20/10/2013</td>
                <td>已退货</td></tr>
            </tbody>
        </table>
    </div>
</div>
