{# 二维表格，需要注入的参数有：一个二维数组，二维数组的每个元素数组对应一个表格 #}
<a href="#" id="back_to_list">返回</a>
{% for title, head, body in table_datas %}
    <table class="table table-bordered">
    <div style="text-align: center">
    <strong>
        {% for t in title %}
            {% if forloop.first %}
                {{ t }}({{ analysiss_time }})<br/>
            {% else %}
                {{ t }}<br/>
            {% endif %}
        {% endfor %}
    </strong>
    </div>
        <thead>
        <tr>
            {% for h in head %}
                <th style="border: 3px solid #ddd">{{ h }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for l in body %}
            <tr>
            {% for b in l %}
                <td style="border: 3px solid #ddd">{{ b }}</td>
            {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/>
    <br/>
{% endfor %}
