{# 监控结果列表显示，需要注入的变量： detail_url_is_needed、title、head 和 body 列表所需要的数据 #}
<div class="text-center" style="font-size:20px; font-weight: bold"> {{ name }} </div>
<table class="table table-bordered">
<thead>
<tr>
    {% for h in head %}
        <th style="border: 3px solid #ddd">{{ h }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for item in body %}
    <tr style="cursor:pointer">
    {% for line in item %}
        {% if line.1 != 0 %}
            <td class="my_list_item" analysiss_time="{{ line.1 }}" item_id="{{ line.0 }}" api_id="{{ line.3 }}" style="border: 3px solid #ddd">
                <a href="#">{{ line.1 }}</a>
            </td>
            <td class="my_list_item" analysiss_time="{{ line.1 }}" item_id="{{ line.0 }}" api_id="{{ line.3 }}" style="border: 3px solid #ddd">
                <a href="#">{{ line.2 }}</a>
            </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}

</tbody>
</table>
