<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">第 1 部分</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <ul class="nav nav-pills">
               <li class="active">
                   <a href="#home" data-toggle="tab">ADFSD</a>
               </li>
               <li>
                   <a href="#ios" data-toggle="tab">FDFAS</a>
               </li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">第 2 部分</a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills">
               <li>
                   <a href="#home" data-toggle="tab">AAAA</a>
               </li>
               <li>
                   <a href="#ios" data-toggle="tab">BBBB</a>
               </li>
            </ul>
        </div>
    </div>
</div>
