{# 一维表格，需要注入的参数有：一个二维数组，二维数组的每个元素数组对应一个表格 #}
{% for title, t_date in table_dates %}
    <table class="table">
        <caption>{{ title }}</caption>
        <thead>
        <tr>
            {% for h in t_date.0 %}
                <th>h</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for l in t_date %}
            {% if forloop.counter %}
                <tr>
                {% for b in l %}
                    <td>b</td>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
{% endfor %}
