{# 监控结果列表显示，需要注入的变量： api_id、detail_url_is_needed、title、head 和 body 列表所需要的数据 #}
<div>{{ name }}</div>
<table class="table table-bordered">
<thead>
<tr>
    {% for h in head %}
        <th>{{ h }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for line in body %}
    <tr>
    {% for b in line %}
        {% if not forloop.first %}
            <td><a href="#" class="my_list_item" item_id="{{ line.0 }}" api_id="{{ api_id }}">{{ b }}</a></td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}

</tbody>
</table>
