{# 监控结果列表显示，需要注入的变量： api_id、detail_url_is_needed、title、head 和 body 列表所需要的数据 #}
<div class="text-center" style="font-size:20px; font-weight: bold"> {{ name }} </div>
<table class="table table-bordered">
<thead>
<tr>
    {% for h in head %}
        <th style="border: 3px solid #ddd">{{ h }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for item in body %}
    <tr style="cursor:pointer">
    {% for line in item %}
        {% if line.2 != 0 %}
            {% for b in line %}
                {% if not forloop.first %}
                    <td class="my_list_item" item_id="{{ line.0 }}" api_id="{{ api_id }}" style="border: 3px solid #ddd"><a>{{ b }}</a></td>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}

</tbody>
</table>
