/*!
 * 自己写的一些css样式，用于控制base.html的页面显示效果
 */
.panel-group{max-height:770px;overflow: auto;}
.leftMenu{margin:10px;margin-top:5px;}
.leftMenu .panel-heading{font-size:14px;padding-left:20px;height:36px;line-height:36px;color:white;position:relative;cursor:pointer;}/*转成手形图标*/
.leftMenu .panel-heading span{position:absolute;right:10px;top:12px;}
.leftMenu .menu-item-left{padding: 2px; background: transparent; border:1px solid transparent;border-radius: 6px;}
.leftMenu .menu-item-left:hover{background:#C4E3F3;border:1px solid #1E90FF;}
* {
    margin: 0;
    padding: 0;
}
#mainBody
{
    margin:0 auto;
    border:1px solid #ccc;
    padding:0;
}

.topCol
{
    position: fixed;
    width: 100%;
    background-color:black;
    color:blue;
    left:0;
}

.leftCol {
    float: left;
    position: fixed;
    top: 41px;
    bottom:0;
    left:0;
    width:160px;
    background-color:#3D3D3D
}

.right {
    position: fixed;
    width:85%;
    top:41px;
    bottom: 0;
    margin-left:180px;
    margin-right:10px
}

.rightCol
{
    top:41px;
    bottom: 0;
    height:400px;
}

.bottomCol
{
    position: absolute;
    margin-left:25%;
    top:500px;
}

.nav li {
    cursor:pointer;
}

.nav li a {
    color: white;
}

.nav li a:hover {background-color: rgba(255, 255, 255, 0.1)}

.nav .active {
    background-color: #d54635
}

li {list-style-type:none;;padding:0;margin:0;}

ul {margin:0;}

#box {
    position: relative;
}

li .list-group-item {
    background-color: #d1e6ff;
}
